body {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    text-align: justify;
}
span {
    color: red;
}
h1 {
    text-transform: uppercase;
    text-align: center;
}
.container {
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px black,
    inset 0 0 10px grey;
    padding: 10px;
    margin: auto;
}

/* text */
.text {
    width: 150px;
    border-radius: 5px 5px 0 0;
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s ease;
    font-weight: 800;
    cursor: pointer;
}
.text:hover {
    box-shadow: -5px -5px 10px black;
}
.text .dropdown {
    position: relative;
    margin-bottom: 100px;
}
.text .dropdown .dropdown-content {
    display: none;
    position: absolute;
    padding: 20px 10px;
    box-shadow: 5px 5px 10px black;
    border-radius: 0px 0 10px 10px;
}
.text .dropdown:hover .dropdown-content {
    display: block;
}

/* menu */
.menu {
    text-align: center;
    width: 150px;
    margin: auto;
    margin-bottom: 130px;
}
.menu .dropbtn {
    padding: 10px;
    width: 150px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: antiquewhite;
    border: none;
    color: darkcyan;
    box-shadow: 0 0 5px black;
    border-radius: 5px 5px 0 0;
    transition: 0.5s ease;
}
.menu .dropbtn:hover {
    letter-spacing: 2px;
}
.menu .dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    margin: auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px black;
}
.menu:hover .dropdown-content {
    display: block;
}
.menu .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s ease;
}
.menu .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.menu .dropdown-content a:nth-last-child(1) {
    border-radius: 0 0 5px 5px;
}

/* right and left */
.position {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 130px;
}
.position .dropdown {
    position: relative;
    display: inline-block;
}
.position .dropdown .dropbtn {
    padding: 10px;
    width: 150px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: wheat;
    border: none;
    color: darkcyan;
    box-shadow: 0 0 5px black;
    border-radius: 5px 5px 0 0;
    transition: 0.5s ease;
}
.position .dropdown .dropbtn:hover {
    letter-spacing: 2px;
}
.position .dropdown .dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    margin: auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px black;
    background-color: antiquewhite;
}
.position .dropdown:hover .dropdown-content {
    display: block;
}
.position .dropdown .dropdown-content a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s ease;
}
.position .dropdown .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.position .dropdown .dropdown-content a:nth-last-child(1) {
    border-radius: 0 0 5px 5px;
}

/* gambar */
.gambar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    cursor: pointer;
    margin-bottom: 250px;
    gap: 10px;
}
.gambar .dropdown {
    position: relative;
    margin-bottom: 100px;
}
.gambar .dropdown img {
    width: 100px;
    margin-bottom: -5px;
}
.gambar .dropdown .dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.gambar .dropdown .dropdown-content img {
    width: 100%;
    height: 300px;
}
.gambar .dropdown .dropdown-content .desc {
    padding: 10px;
    font-weight: 800;
}
.gambar .dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}

/* navbar */
.nav {
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    height: 300px;
}
.nav .navbar {
    display: flex;
    align-items: center;
    background-color: burlywood;
    border-radius: 5px 5px 0 0;
    margin-bottom: 160px;
    border: 1px solid black;
}
.nav .navbar a {
    color: black;
    font-weight: 800;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.5s ease;
}
.nav .navbar a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}
.nav .navbar .dropdown {
    position: relative;
    display: inline-block;
}
.nav .navbar .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}
.nav .navbar .dropdown:hover .dropdown-content {
    display: block;
}
.nav .navbar .dropdown .dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    margin: 15px auto;
    width: 160px;
    box-shadow: inset 0 0 5px black;
}
.nav .navbar .dropdown .dropdown-content a {
    display: block;
}
.nav .content {
    padding: 0 15px;
}