:root {
  --background-color: #362a2a;
  --text-color: #f2f0f0;
  --text-accent-color: #d4c9c9;
  --accent-color: #444546;
  --border-color: #241e1e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--border-color);
  color: var(--text-color);
}

.log {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 15px;
  margin: 50px auto;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 15px black;
  text-align: center;
}

.log h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px var(--text-accent-color);
  text-transform: uppercase;
}

.log p {
  font-size: 1rem;
  color: var(--text-accent-color);
  margin-bottom: 2rem;
}

.line {
  position: relative;
  margin: 20px 0;
  padding: 0;
}

.line:before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--text-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.line-item {
  margin-bottom: 20px;
  position: relative;
  width: calc(50% + 1px);
  padding-right: 20px;
  text-align: right;
}

.line-item .date {
  font-size: 0.9rem;
  color: var(--text-accent-color);
}

.line-item .content {
  font-size: 1rem;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.line-item:nth-child(even) {
  left: calc(50% - 1px);
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
}

.line-item:nth-child(even) .content {
  margin-left: 0;
}

.line-item:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: -4px;
  background-color: var(--text-color);
  border-radius: 50%;
  top: 10px;
}

.line-item:nth-child(even):before {
  left: -4px;
  right: auto;
}

.log button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--text-color);
  text-transform: capitalize;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid black;
  transition: 0.5s ease;
  cursor: pointer;
}

.log button:hover {
  background-color: var(--background-color);
  box-shadow: 0 0 10px black;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .timeline-item {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }

  .timeline-item:nth-child(even) {
    left: 0;
    padding-left: 20px;
  }

  .timeline:before {
    left: 10px;
  }

  .timeline-item:before {
    left: 5px;
  }

  .timeline-item:nth-child(even):before {
    left: 5px;
  }
}
