body {
  background-color: beige;
}

span {
  color: red;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}
.inline b {
  display: inline; /*nilia default*/
  border: 2px solid green;
  padding: 5px;
}
.block b {
  display: block;
  border: 2px solid red;
  width: 50px;
  padding: 5px;
}
.inline-block b {
  display: inline-block;
  border: 2px solid blue;
  padding: 10px;
  margin: 20px 10px;
}

.navbar {
  background: linear-gradient(to right, black, red, blue);
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 10px orangered;
}
.navbar img {
  width: 80px;
  border-radius: 50%;
  margin: 10px 20px;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
  transition: 0.5s;
}

.navbar img:hover {
  box-shadow: 0 5px 10px greenyellow, 0 -5px 10px rgb(0, 195, 255);
}

.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
  font-weight: 800;
  cursor: pointer;
}
.navbar ul li:hover {
  border-bottom: 1px solid aliceblue;
  letter-spacing: 2px;
}
