body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}
.sintaks {
  border: 1px solid black;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}

/* warna dengan jarak yang sama */
.default {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  padding: 20px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: bold;
  background-image: radial-gradient(red, yellow, green);
}

/* warna dengan spasi yang berbeda */
.spasi-berbeda {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  padding: 20px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: bold;
  background-image: radial-gradient(red 10%, yellow 20%, green 70%);
}

/* set shape */
.elisse {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  padding: 20px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: bold;
  background-image: radial-gradient(red, yellow, green);
}
.circle {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  margin: 20px 10px;
  height: 150px;
  padding: 20px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: bold;
  background-image: radial-gradient(circle, red, yellow, green);
}

/* parameter size */
.size {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 2fr;
  gap: 20px;
  place-items: center;
  margin: 20px;
}
.grad1, .grad2, .grad3, .grad4 {
  height: 200px;
  width: 100%;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  font-weight: bold;
  font-size: 20px;
}
.grad1 {
  background-image: radial-gradient(closest-side at 70% 60%, red, green, yellow);
}
.grad2 {
  background-image: radial-gradient(farthest-side at 70% 60%, red, green, yellow);
}
.grad3 {
  background-image: radial-gradient(closest-corner at 70% 60%, red, green, yellow);
}
.grad4 {
  background-image: radial-gradient(farthest-corner at 70% 60%, red, green, yellow);
}