body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}
.sintaks {
  border: 1px solid black;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}

/* warna dengan jarak yang sama */
.default {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  margin: 10px;
  height: 150px;
  padding: 20px;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  font-weight: bold;
  background-image: radial-gradient(red, yellow, green);
}