body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    text-align: justify;
}
span {
    color: red;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px greenyellow;
    letter-spacing: 5px;
}
h2 {
    letter-spacing: 3px;
}
.container {
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    transition: 0.5s ease;
}
.container:hover {
    box-shadow: inset 0 0 5px gray;
}

/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.gallery .gallery-item {
    width: 320px;
    height: 240px;
    margin: 10px auto;
    box-shadow: 0 0 20px grey;
    border-radius: 5px;
    transition: 0.5s ease;
}
.gallery .gallery-item a img {
    border-radius: 5px 5px 0 0;
    width: 320px;
}
.gallery .gallery-item .desc {
    margin: 10px;
    font-weight: 800;
}
.gallery .gallery-item:hover {
    box-shadow: 0 0 20px black;
    transform: scale(1.05);
}
.gallery:hover > .gallery-item:not(:hover) {
    filter: blur(2px);
}