* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: beige;
  margin: 0;
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.testimoni {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  gap: 20px;
  border: 2px solid black;
  padding: 20px;
  width: 80vw;
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
}
.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
.profile img:hover {
  box-shadow: 0 0 10px blue;
  transform: scale(1.05);
}

/* cards */
.cards {
  display: flex;
  gap: 20px;
  height: 100%;
}
.card-1,
.card-2 {
  border: 2px solid gray;
  border-radius: 20px;
  padding: 20px;
}
.card-2 .content {
  margin: 60px auto;
}

/* bubble */
.bubble {
  background-color: blue;
  padding: 40px 20px;
  border-radius: 20px;
  color: white;
  position: relative;
}
.bubble:after {
  content: "";
  bottom: -15px;
  left: 20px;
  position: absolute;
  border-top: 20px solid blue;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
.bubble p a {
  color: gray;
  transition: 0.5s;
}
.bubble p a:hover {
  color: white;
}

/* card-3 */
.card-3 {
  display: flex;
  gap: 20px;
}
.card-3 img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
.card-3 img:hover {
  box-shadow: 5px 5px 10px blue, -5px -5px 10px black;
  transform: scale(1.05);
}
.card-3 .content {
  background: linear-gradient(to bottom, black, gray, blue, blue);
  color: white;
  padding: 20px;
  border-radius: 20px;
}
.card-3 .content .rating {
  color: gold;
  font-size: 35px;
  font-weight: 800;
  margin: 5px auto;
}
.card-3 .content h2 {
  font-size: 30px;
  margin-bottom: 5px;
}
.card-3 .content .position {
  text-transform: capitalize;
  margin-bottom: 10px;
}
.card-3 .content p.quote a {
  color: gray;
  transition: 0.5s;
}
.card-3 .content p.quote a:hover {
  color: white;
}

/* slider */
.slider {
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  padding: 20px 50px;
  border-radius: 20px;
  text-align: center;
}
.slider .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.slider .profile .prev,
.slider .profile .next {
  cursor: pointer;
  font-size: 1.2rem;
  color: blue;
  font-weight: 800;
  transition: 0.5s;
}
.slider .profile .prev:hover,
.slider .profile .next:hover {
  transform: scale(1.1);
}
.slider .profile .prev::before {
  content: "<";
}
.slider .profile .next::before {
  content: ">";
}
.slider .profile img {
  width: 50px;
  height: 50px;
}
.slider .profile img:first-of-type,
.slider .profile img:last-of-type {
  opacity: 0.4;
}
.slider .controls span.profile-name {
  font-size: 20px;
}
