body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* example */
.example {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  margin: 20px auto;
  color: green;
  font-weight: bold;
  /* background */
  background-image: url(/CSS-lanjutan/background/img/bg.png);
  background-size: 100px 80px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

/* nilai */
.nilai {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 20px;
}
.nilai .auto {
  color: greenyellow;
  box-shadow: 0 0 10px black;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  background-image: url(/CSS-lanjutan/background/img/image1.png);
  background-repeat: no-repeat;
  background-size: auto;
}
.nilai .contain {
  color: greenyellow;
  box-shadow: 0 0 10px black;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  background-image: url(/CSS-lanjutan/background/img/image1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.nilai .cover {
  color: greenyellow;
  box-shadow: 0 0 10px black;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  background-image: url(/CSS-lanjutan/background/img/image1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* menentukan beberapa size */
.size {
  box-shadow: 0 0 5px gray;
  padding: 10px;
  border-radius: 10px;
  height: 300px;
  margin: 20px;
  background-image: url(/CSS-lanjutan/background/img/image1.png),
    url(/CSS-lanjutan/background/img/logo.png),
    url(/CSS-lanjutan/background/img/bg.png);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top left, top right, left top;
  background-size: contain, 150px, auto;
}
.size p {
  color: darkgreen;
  text-align: center;
  margin: 8rem auto;
  font-weight: bold;
}

/* background image full size */
.full {
  box-shadow: 0 0 10px black;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  height: 50vh;
  box-sizing: border-box;
  background: url(/CSS-lanjutan/background/img/bg.png) center fixed no-repeat;
  background-size: cover;
  color: aliceblue;
  line-height: 50vh;
  text-align: center;
  font-weight: bold;
  transition: 1s ease-in-out;
}

/* hero */
.example1 {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  height: 500px;
  margin: 10px;
}
.example1 .hero {
  background: url(/CSS-lanjutan/background/img/bg.png) no-repeat center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  height: 350px;
  color: aliceblue;
  position: relative;
}
.example1 .hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.example1 .hero .content h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.example1 .hero .content button {
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  border: none;
  background-color: aliceblue;
  color: black;
  font-weight: 800;
  transition: 0.5s ease;
  text-align: center;
}
.example1 .hero .content button:hover {
  transform: scale(1.07);
  box-shadow: 0 0 10px gray;
  background-color: gray;
  color: aliceblue;
  letter-spacing: 2px;
}
.example1 .paragraf {
  padding: 10px;
}