body {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    border: 2px solid black;
    padding: 20px;
    width: 50vw;
    margin: auto;
}
.container .header h1 {
    border-top: 2px solid black;
    padding-top: 20px;
}
.container .header p {
    color: green;
}
.container .skills h3 {
    color: green;
}
.container .edukasi h3 {
    color: green;
}
.container .edukasi p {
    color: blue;
}
.container .proyek h3 {
    color: green;
}
.container .proyek p {
    color: blue;
}
.container .pengalaman h3 {
    color: green;
}