body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* translate */
.translate {
    text-align: center;
    margin: 20px auto;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    background-color: rgba(255, 0, 0, 0.3);
}
.translate::after {
    height: 150px;
    width: 200px;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.7);
    top: 0;
    right: 0;
    content: "transform";
    text-align: center;
    border-radius: 10px;
    transform: translate(50px, 20px);
}

/* rotate */
.rotate {
    text-align: center;
    margin: 20px auto;
    width: 200px;
    height: 150px;
    font-weight: 800;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    background-color: rgba(0, 0, 255, 0.3);
}
.rotate::after {
    height: 150px;
    width: 200px;
    color: white;
    background-color: rgba(0, 0, 255, 0.7);
    position: absolute;
    top: -20px;
    right: 0;
    content: "transform";
    text-align: center;
    border-radius: 10px;
    transform: rotate(30deg);
}

/* scale */
/* scale(x, y) */
.scale {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: rgba(80, 30, 100, 0.5);
  text-align: center;
  margin: 50px auto;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}
.scale::after {
  position: absolute;
  content: "transform";
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: rgba(80, 30, 100, 0.8);
  transform: scale(1.5, 1.5);
  border-radius: 10px;
}
/* scaleX */
.scaleX {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: rgba(80, 30, 100, 0.8);
  text-align: center;
  margin: auto;
  transform: scaleX(2);
}
/* scaleY */
.scaleY {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: rgba(80, 30, 100, 0.8);
  text-align: center;
  margin: 60px auto;
  transform: scaleY(2);
}

/* fungsi skew() */
/* nilai skew(x, y) */
.skew {
  height: 100px;
  width: 150px;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.3);
  position: relative;
}
.skew::after {
  position: absolute;
  content: 'transform';
  top: -20px;
  left: -20px;
  height: 150px;
  width: 200px;
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.7);
  transform: skew(20deg, 10deg);
}
/* skewX */
.skewX {
  height: 100px;
  width: 150px;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.3);
  transform: skewX(20deg);
}
/* skewY */
.skewY {
  height: 100px;
  width: 150px;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.3);
  transform: skewY(20deg);
}