* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    margin: 10px auto;
}
h2 {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 800;
}

/* header */
header {
    text-align: center;
    height: 30vh;
    padding: 50px;
    text-transform: capitalize;
}

/* navbar */
ul.navbar {
    display: flex;
    background-color: #423838;
    list-style: none;
}
ul.navbar li {
    padding: 20px 0;
    transition: 0.8s ease;
}
ul.navbar li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}
ul.navbar li a {
    margin: 15px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}

/* container */
.container {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}
.container .side, .content {
    margin: 0 10px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: inset 0 0 10px black;
    transition: 0.5s ease;
}
.container .side:hover, .content:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px black;
}
@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container .side, .content {
        margin-bottom: 20px;
    }
}