body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}
.sintaks p {
  border: 1.5px solid black;
  font-weight: 800;
  padding: 20px;
  font-style: italic;
  border-radius: 10px;
}

/* gradient conic tiga warna */
.three {
  margin: 20px auto;
  height: 200px;
  width: 300px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-image: conic-gradient(red, yellow, green);
}

/* gradient conic lima warna */
.five {
  margin: 20px auto;
  height: 200px;
  width: 300px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-image: conic-gradient(red, yellow, green, darkblue, darkcyan);
}

/* gradient conic tiga warna dan masing-masing warna memiliki derajat. */
.deg {
  margin: 20px auto;
  height: 200px;
  width: 300px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-image: conic-gradient(red 90deg, yellow 180deg, darkblue 240deg);
}

/* gradient conic pie charts */
.pie {
  margin: 20px auto;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-image: conic-gradient(darkcyan, darkblue, darkgreen, darkgoldenrod, yellowgreen);
  border-radius: 50%;
}
/* setiap warna memiliki derajat */
.pie1 {
  margin: 20px auto;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  background-image: conic-gradient(red 0, red 90deg, blue 90deg, blue 180deg,
  green 180deg, green 270deg, yellow 270deg, yellow 360deg);
  border-radius: 50%;
}
