body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* contoh */
.cth1{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 120, 0.7);
    border: 1px solid black;
    margin: 20px;
    transition: width 3s;
}
.cth2{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 120, 0.7);
    border: 1px solid black;
    margin: 20px;
    transition: width 3s, height 5s, background-color 7s;
}
.cth1:hover {
    width: 300px;
}
.cth2:hover {
    width: 300px;
    height: 300px;
    background-color: aqua;
}