body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* CSS aturan @keyframes */
.aturan1 {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: auto;
    animation-name: aturan1;
    animation-duration: 5s;
}
@keyframes aturan1 {
    from {
        background-color: red;
    }
    to {
        background-color: green;
    }
}
/* aturan 2 menggunakan persen(%) */
.aturan2 {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: auto;
    animation-name: aturan2;
    animation-duration: 5s;
}
@keyframes aturan2 {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color:  green;
    }
    100% {
        background-color: blue;
    }
}