body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* contoh transform */
.transform {
    display: flex;
    margin: 20px;
    text-align: center;
    align-items: center;
}
.cth1, .cth2 {
    height: 100px;
    width: 100px;
    margin: 0 30px;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: blue;
}
/* 2D */
.cth1 {
    animation: two 1s infinite;
}
@keyframes two {
    from {
        transform: rotate(0deg);
        border-radius: 10px;
    }
    to {
        transform: rotate(360deg);
        border-radius: 20px;
    }
}
/* 3D */
.cth2 {
    animation: three 2s infinite;
}
@keyframes three {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
        border-radius: 5px;
    }
    50% {
        transform: rotateY(180deg);
        border-radius: 10px;
    }
    75% {
        transform: rotateY(270deg);
        border-radius: 15px;
    }
    100% {
        transform: rotateY(360deg);
    }
}

/* rotateX() */
.rotateX {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: rgba(150, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 20px auto;
  line-height: 100px;
  position: relative;
}
.rotateX::after {
  position: absolute;
  content: "transform";
  top: 0;
  left: 120px;
  height: 100px;
  width: 100px;
  background-color: rgba(150, 0, 0, 0.8);
  border: 1px solid black;
  transform: rotateX(150deg);
}

/* rotateY() */
.rotateY {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 20px auto;
  line-height: 100px;
  position: relative;
}
.rotateY::after {
  position: absolute;
  content: "transform";
  top: 0;
  left: 120px;
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  transform: rotateY(150deg);
}