body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}
.sintaks {
  border: 1px solid black;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}

/* to bottom */
.bottom {
  box-shadow: 0 0 15px black;
  padding: 20px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-image: linear-gradient(to bottom, red, yellow);
}

/* to top */
.top {
  box-shadow: 0 0 15px black;
  padding: 20px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 200px;
  background-image: linear-gradient(to top, red, yellow);
}

/* to right */
.right {
  box-shadow: 0 0 15px black;
  padding: 20px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  background-image: linear-gradient(to right, red, yellow);
}

/* to bottom right */
.diagonal {
  box-shadow: 0 0 15px black;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 200px;
  background-image: linear-gradient(to bottom right, red, yellow);
}
.diagonal p {
  transform: rotate(20deg);
}

/* angle */
.angle {
  box-shadow: 0 0 15px black;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(180deg, red, yellow);
}

/* gabungan beberapa warna */
.combo {
  box-shadow: 0 0 15px black;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 200px;
  background-image: linear-gradient(blue, gold, rgb(0, 132, 255));
}
.pelangi {
  box-shadow: 0 0 15px black;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 200px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

/* repeating-gradient-linear */
.repeat {
  box-shadow: 0 0 15px black;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  background-image: repeating-linear-gradient(red, orange 10%, yellow 20%);
}
