body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

/* text-overflow */
/* nilai clip */
.over1 {
    border: 1px solid black;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
/* nilai ellipsis */
.over2 {
    border: 1px solid black;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* nilai string */
.over3 {
    border: 1px solid black;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    /* nilai string */
    text-overflow: ' nilai-string'; 
}
/* menampilkan konten yang meluap menggunakan nilai visible */
.over4 {
    border: 1px solid black;
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    /* nilai string */
    text-overflow: ellipsis; 
}
.over4:hover {
    overflow: visible;
}

/* word-wrap */
/* nilai normal */
.wrap1 {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    word-wrap: normal;
}
/* nilai break-word */
.wrap2 {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    word-wrap: break-word;
}

/* properi word break */
/* nilai normal */
.break1 {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    word-break: normal;
}
/* nilai break-all */
.break2 {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    word-break: break-all;
}
/* nilai normal */
.break3 {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    word-break: keep-all;
}

/* properti writing mode */
/* nilai horizontal-tb */
.mode1 {
    writing-mode: horizontal-tb;
    text-align: center;
}
/* nilai vertical-rl */
.mode2 {
    writing-mode: vertical-rl;
    text-align: center;
}
/* nilai vertical-lr */
.mode3 {
    writing-mode: vertical-lr;
    text-align: center;
}
/* nilai sideways-rl */
.mode4 {
    writing-mode: sideways-rl;
    text-align: center;
}