* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #696868;
  color: #fff;
}
span {
  color: #ff6347;
}
hr {
  margin: 20px 0;
  border: 1px solid black;
}
h1 {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}
h2 {
  text-transform: capitalize;
  margin: 10px 0;
}
.cth {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cth ul {
  list-style: none;
}
.cth ul.one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cth ul li.active {
  background-color: #ff6347;
  left: 0.5px;
  font-weight: 600;
}
.cth ul li {
  padding: 15px;
  text-align: center;
  transition: 0.5s ease;
  font-weight: 600;
}
.cth ul li:hover:not(.active) {
  background-color: rgba(123, 37, 37, 0.3);
  cursor: pointer;
  letter-spacing: 0.5px;
}

.float {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 10px 0;
}
.float ul {
  list-style: none;
  overflow: hidden;
}
.float ul li {
  float: left;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.float ul li:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.flex {
  background-color: rgba(27, 12, 12, 0.6);
  margin: 10px 0;
}
.flex ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.flex ul li {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.flex ul li:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.flex:hover > ul li:not(:hover) {
  filter: blur(2px);
}

.aktif {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px 0;
}
.aktif ul {
  list-style: none;
  display: flex;
}
.aktif ul li {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.aktif ul li.active {
  background-color: #150edb;
}
.aktif ul li:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.6);
}

.two {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px 0;
}
.two ul {
  list-style: none;
  overflow: hidden;
  margin: 0%;
  padding: 0;
}
.two ul li {
  float: left;
  padding: 20px;
}
.two ul li.active {
  background-color: #04032e;
}
.two ul li:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.border {
  background-color: rgba(27, 12, 12, 0.6);
  margin: 20px 0;
}
.border ul {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
}
.border ul li {
  padding: 20px;
  cursor: pointer;
  border-right: 1px solid white;
  transition: 0.5s ease;
}
.border ul li.active {
  background-color: #0eafdb;
}
.border ul li:last-child {
  border: none;
}
.border ul li:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
}

.nav {
  text-align: center;
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  height: 300px;
}
.nav .navbar {
  background-color: #696868;
  position: sticky;
  top: 0;
  border: 1px solid #000;
  box-shadow: inset 0 0 10px #000;
}
.nav .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .navbar ul li {
  padding: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.nav .navbar ul li.active {
  background-color: #5c4268;
}
.nav .navbar ul li:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
}
.nav .content {
  padding: 20px;
  text-align: left;
}
.nav .content h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.nav .content p:nth-child(2) {
  background-color: #0eafdb;
  color: #000;
}
.nav .content p {
  line-height: 1.6;
}

.menu {
  background-color: #5c4268;
  height: 50vh;
  margin: 10px 0;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

.menu ul li {
  float: left;
}

.menu ul li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(158, 38, 38);
}

.menu ul li.dropdown {
  display: inline-block;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}
