* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}
h1, h2, h3 {
    text-transform: uppercase;
    margin: 10px auto;
    text-align: center;
}

/* top */
.top {
    height: 100px;
    text-align: center;
    padding: 30px;
    background-color: bisque;
    text-transform: uppercase;
}

/* header */
.header {
    height: 80vh;
    background-color: antiquewhite;
    text-align: center;
    padding: 100px 0;
}

/* navbar */
.navbar ul {
    display: flex;
    list-style: none;
    background-color: aquamarine;
}
.navbar ul li.active {
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}
.navbar ul li {
    padding: 15px;
    transition: 0.5s ease;
}
.navbar ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
}
.navbar:has(ul li:hover) ul li:not(:hover) {
    filter: blur(1px);
}
.navbar ul li a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 800;
}

/* container */
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(141, 118, 66, 0.2);
}
.container .side {
    flex: 30%;
    padding: 20px;
    background-color: rgba(141, 118, 66, 0.2);
    text-align: center;
}
.container .side .team {
    width: 340px;
    text-align: justify;
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    box-shadow: inset 0 0 10px gray;
    border-radius: 10px;
}
.container .side .team:hover {
    box-shadow: 0 0 10px black;
}
.container .side .team h4 {
    margin: 10px auto;
}
.container .side .team img {
    width: 320px;
    box-shadow: 0 0 10px black;
}

/* more */
.container .side .more {
    margin: 30px auto;
}
.container .side .more p {
    margin-bottom: 20px;
}
.container .side .more .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    place-items: center;
}
.container .side .more .image .card {
    border: 1px solid black;
    width: 100%;
    height: 240px;
}
.container .side .more .image .card img {
    width: 100%;
    height: 150px;
}

/* main */
.container .main {
    flex: 70%;
    padding: 20px;
}
.container .main .content {
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;
}
.container .main .content img {
    width: 100%;
}

/* footer */
.footer {
    padding: 20px;
    font-size: 30px;
}

@media screen and (max-width: 700px) {
    .navbar ul{
        display: block;
        text-align: center;
    }
    .container .side .team {
        width: 100%;
    }
    .container .side .team img {
        width: 100%;
    }
}