body {
  background-color: beige;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
}
span {
  color: red;
  font-weight: bold;
}
code {
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 10px greenyellow;
  letter-spacing: 5px;
}
h2, h3 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.container {
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  transition: 0.5s ease;
}
.box-container {
  box-shadow: inset 0 0 10px gray;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}
.quote {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
}

/* contoh */
.box-container li {
    margin: 30px;
}
.box-container .box1, .box2, .box3 {
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 25px;
}
.box-container .box1 {
    background-color: aqua;
}
.box-container .box2 {
    border: 2px solid blue;
}
.box-container .box3 {
    background-image: url(image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: yellow;
    font-weight: 800;
}